@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.logo {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    margin: 0;
    background-image: url("./bg/index.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease;
}

.title-bar {
    height: 20px;
}

.title-bar-controls {
    transform: translateY(-25%);
}

.help-btn {
    cursor: pointer;
}

.window .window-body img {
    width: 100%;
}

.boton {
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: calc(100vh - 60px);
    text-align: center;
    z-index: 1000;
}

.boton .est-texto-btn {
    cursor: pointer;
    font-weight: bold;
}

.frase-container {
    margin: 0;
    width: 300px;
    height: 300px;
    overflow: scroll;
    background-color: #000;
}

.frase-container .frase {
    color: greenyellow;
    font-family: 'Roboto Mono', monospace;
    font-size: 4em;
    text-transform: lowercase;
    text-align: center;
    height: 100%;
}

.imagen-container {
    margin: 0;
    width: 300px;
    height: 300px;
    overflow: scroll;
    background-color: #000;
}

.video-container {
    margin: 0;
    width: 300px;
    height: 300px;
    overflow: scroll;
    background-color: #000;
}

.estado-actual {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ventana {
    width: 280x;
    position: absolute;
    cursor: pointer;
}

.ventana-oculta {
    display: none;
}


/* Botones */

.dale-bro {
    position: absolute;
    top: calc(100vh - 80px);
    font-size: 2em;
    padding: 10px;
    font-weight: bold;
}

.ok-cancel-btns {
    text-align: right;
    margin-top: 10px;
}